<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>488009538485-1jqseu5mvhmg29k7tp7qcrs807e3bh5c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.488009538485-1jqseu5mvhmg29k7tp7qcrs807e3bh5c</string>
	<key>API_KEY</key>
	<string>AIzaSyAp2kTL9C45iKbUPNt99ixpYXGBdVzu7Ps</string>
	<key>GCM_SENDER_ID</key>
	<string>488009538485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.derot</string>
	<key>PROJECT_ID</key>
	<string>appartment-190d9</string>
	<key>STORAGE_BUCKET</key>
	<string>appartment-190d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:488009538485:ios:ad25db79c07df1ffe8d7fc</string>
</dict>
</plist>